

.container {
  
  padding: 15px auto;
  margin: 0 auto;
  border: 5px solid black;
}

.main {
  width: 300px;
  height: auto;
  padding: 200px;
  margin: 0 auto;
  border: 5px solid black;
}

.layar {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid black;
  font-size: 20px;
  font-style: oblique;
  background-color: rgb(246, 242, 242);
}

#player, #komputer{
 font-size: 22px;
}

#opsi{
  display: inline-block;
  font-size: 50px;
}

#opsi:hover{
  cursor: pointer;
}

